@model int

@{
    ViewData["Title"] = "Cadastro negado";
}
<a href="/Lab/Index" class="btn btn-primary btn-sm btn-light">Voltar</a><br><br>
<h1>@ViewData["Title"]</h1><br>

<p>O laboratório com numero de identificação @Model já existe no sistema.</p>